@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css2?family=Oswald');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css2?family=Orbitron');
@import url('https://fonts.googleapis.com/css2?family=Audiowide');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade');
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One');

@import 'tailwindcss';

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: 'CygnitoMonoPro';
  src: url('assets/CygnitoMonoPro-BoldR.otf');
  font-weight: normal;
  font-style: normal;
}

#root {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none; /* disable pull-to-refresh effect */
  overflow: hidden;
}

.draggable:hover {
  cursor: move;
}

.dragging {
  cursor: grabbing;
}

.target {
  cursor: crosshair;
}

.grabbable {
  cursor: grab;
}

.sizable:hover {
  cursor: nwse-resize;
}

.clickable:hover {
  cursor: pointer;
}

.sizable-left:hover {
  cursor: nwse-resize;
}

.sizable-right:hover {
  cursor: nesw-resize;
}

.editable:hover {
  cursor: text;
}

.DraftEditor-root {
  height: 100% !important;
  width: 100%;
}

.DraftEditor-root figure {
  margin: 0;
}

.text-align-left > .public-DraftStyleDefault-block {
  text-align: left;
}

.text-align-center > .public-DraftStyleDefault-block {
  text-align: center;
}

.text-align-right > .public-DraftStyleDefault-block {
  text-align: right;
}

.blockquote > .public-DraftStyleDefault-block {
  padding: 0.5rem 0.75rem;
  border-left: 4px solid rgba(125, 125, 125, 0.5);
}

.DraftEditor-editorContainer .journal-link {
  text-decoration: underline;
  color: inherit;
}

.DraftEditor-editorContainer .journal-link:hover {
  cursor: pointer;
}

.react-flow__attribution {
  display: none !important;
}

.react-flow__resize-control.handle {
  height: 8px !important;
  width: 8px !important;
  border-radius: 50% !important;
  z-index: 100;
}

.react-flow__resize-control.handle.hidden {
  display: none !important;
}

.sheet-text-container {
  container-type: size;
  width: 100%;
  flex-grow: 1;
}

.sheet-text-container .auto-scale {
  /* 100% of the height of the container, clamped between 1 and 30 rem */
  font-size: clamp(1rem, 100cqh, 30rem);
}

.sheet-text-container .archetype-auto-scale {
  /* 30% of the height of the container, clamped between 1 and 20 rem */
  font-size: clamp(1rem, 30cqh, 20rem);
  text-align: center;
}

.react-flow__node .input-node .chakra-numberinput__field,
.input-node .chakra-input {
  border: none !important;
}

.chakra-popover__popper {
  z-index: 1000 !important;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
