@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed');
@font-face {
  font-family: 'CygnitoMonoPro';
  src: url('assets/CygnitoMonoPro-BoldR.otf');
  font-weight: normal;
  font-style: normal;
}